html{
    font-size: large;
    background-color: #1b1b1b;
    color: white;
}

a{
    color:blue;
    font-size: x-large;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}


header{
    position:static;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    text-align: center;
    font-size: large;
    background-color: white;
    margin: 0 auto;
}

footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: large;
    background-color: white;
}

/**/

.link{
    background-color: white;
    color: blue;
    display: inline;
}

.hardwareProjects{
    height: 40%;
    width: 40%;
    padding: 4%;
}

.headerText{
    color: black;
}

.myPhoto{
    display: inline-block;
    padding: 10px;  
}

.introduction{
    display: inline-block;
    text-align: start;
    /*position: absolute;*/
    /*top: 0;*/
    top: 50;
    
}

.mainSection{
    display: block;
}