html{
    font-size: large;
    background-color: #1b1b1b;
    color: white;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    text-align: center;
}

header{
    position:static;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    text-align: center;
    font-size: large;
    background-color: white;
    margin: 0 auto;
}

footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: large;
    background-color: white;
}

footer > a{
    /*Used to style only ther <a> elements inside the footer*/
    color: blue;
}


/*Class Selectors*/

.link{
    background-color: white;
    color: blue;
    display: inline;
}

.hardwareProjects{
    height: 40%;
    width: 40%;
    padding: 4%;
}

.headerText{
    color: black;
}

.myPhoto{
    /*display: inline;*/
    display: none;
    float: left;
    padding: 10px;
    /*width: 40%;
    height: 40%;*/  
}

.introduction{
    display: block;
    text-align: center;
    top: 50;
}

.mainSection{
    display: block;
    float: inline-start;
}

.qualificationsBox{
    text-align: center;
}

.qualification{
    display: block;
    margin: 0 auto ;
    padding: 10px;
}

.qualificationLink{
    display: block;
    margin: 0 auto;
    width: fit-content;
    background-color: antiquewhite;
    color: blue;
}